body{
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border:1px solid #dadada;
    margin: 40px auto;
    padding-top:20px;
    border-radius: 5px;
    box-shadow: 0 5px 5px #dadada;
}

#container h1{
    font-size: 20px;
    text-align: center;
}

header{
    background-image: url('../img/squirtle.png');
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: right;
    display: flex;
    background-color: deepskyblue;
    color: ghostwhite;
    margin-top: 0;
    padding: 20px 10px;
    align-items: center;
}
header #nombre{
    display: flex;
}
header #logo{
    width: 100px;
    height: 100px;
    display: flex;
}

footer{
    background-color: #333;
    color: ghostwhite;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
}